<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

        {% include "djangoapp/header.html" %}
        <table class="table table-striped" id="table" data-filter-control="true" style="margin-top: 3%; margin-bottom: 3%;">
        <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Dealer Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Address</th>
                        <th scope="col">Zip</th>
                        <th data-field="state">State</th>
                    </tr>
                </thead>
            <tbody>
               <tr>
                        <td style="padding: 2%;">{{dealer.id}}</td>
                        <td style="padding: 2%;">{{dealer.full_name}}</td>
                        <td style="padding: 2%;">{{dealer.city}}</td>
                        <td style="padding: 2%;">{{dealer.address}}</td>
                        <td style="padding: 2%;">{{dealer.zip}}</td>
                        <td style="padding: 2%;">{{dealer.st}}</td>
                    </tr>
            </tbody>
        </table>
        <h3> REVIEWS</h3>
        <!-- Add reviews as cards -->
         <main class="container" style="padding: 3%;">
            <div class="card-columns">
                {% for review in reviews %}
                    <div class="card" style="height: 350px">
                        <img src="{{MEDIA_URL}}/emoji/{{review.sentiment}}.png" class="card-img-center" style="height: 100px; width: 100px; margin-left: 35%; margin-bottom: 5%; margin-top: 2%;">
                        <div class="card-body" style="text-align: center;">
                            <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                            <h5 class="card-title">{{ review.car_year }}</h5>
                            <p class="card-text">{{ review.review }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </main>   

    </body>

</html>