<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

        {% include "djangoapp/header.html" %}
        <table class="table table-striped" id="table" data-filter-control="true" style="margin-top: 3%; margin-bottom: 3%;">
        <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Dealer Name</th>
                        <th scope="col">City</th>
                        <th scope="col">Address</th>
                        <th scope="col">Zip</th>
                        <th data-field="state">State</th>
                    </tr>
                </thead>
            <tbody>
               <tr>
                        <td style="padding: 2%;">{{dealer.id}}</td>
                        <td style="padding: 2%;">{{dealer.full_name}}</td>
                        <td style="padding: 2%;">{{dealer.city}}</td>
                        <td style="padding: 2%;">{{dealer.address}}</td>
                        <td style="padding: 2%;">{{dealer.zip}}</td>
                        <td style="padding: 2%;">{{dealer.st}}</td>
                    </tr>
            </tbody>
        </table>
        <h3> REVIEWS</h3>
        {% if reviews %}
        <div class="container">
            <h2>Reviews for {{dealer.full_name}}</h2>
            <div class="card-columns">
                {% for review in reviews %}
                    <div class="card">
                        {% if review.sentiment == 'positive' %}
                            <img width="50" height="50" class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png">
                        {% else %}
                            {% if review.sentiment == 'negative' %}
                                <img width="50" height="50" class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png">
                            {% else %}
                                <img width="50" height="50" class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png">
                            {% endif %}
                        {% endif %}
                        <div class="card-body">
                            <h3 class="card-title">{{review.car_make}} {{review.car_model}}</h3>
                            <h3 class="card-title">{{review.purchase_year}}</h3>
                            <p class="card-text">{{review.review}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    </body>

</html>